body {
  font-family: "Inconsolata", monospace;
  color: #0d1e2d;
}

a {
  color: #777;
  text-decoration: none;
}

a:hover {
  color: #000;
}

h1, h2, h3, h4, h5, h6, .font-heading {
  font-family: "Raleway", sans-serif;
}

.section {
  padding: 4rem 0; /* Reduce the overall section padding */
}

.filters a {
  text-decoration: none;
  color: #000;
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  position: relative;
}

.filters a:hover, .filters a:focus, .filters a:active {
  text-decoration: none;
}

.filters a:hover:before {
  content: "";
  position: absolute;
  left: 10px;
  right: 10px;
  bottom: 0;
  height: 1px;
  background-color: #000;
}

.filters a.active {
  color: #000;
}

.filters a.active:before {
  content: "";
  position: absolute;
  left: 10px;
  right: 10px;
  bottom: 0;
  height: 1px;
  background-color: #000;
}

.h3 {
  font-size: 20px;
}

.h4 {
  font-size: 16px;
}

.heading {
  font-size: 28px;
} 

.skill-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 15px;
}

.skill-tag {
  background-color: #f8f9fa;  
  padding: 5px 15px;
  font-size: 0.9em;
}

.btn-outline-primary {
  background-color: transparent;
  border: 1px solid #252525;
  color: #252525;
  padding: 10px 20px;
  text-decoration: none;
  display: inline-block;
  margin: 10px 0;
  transition: all 0.3s ease;
}

.btn-outline-primary:hover,
.btn-outline-primary:focus,
.btn-outline-primary:active {
  background-color: #6e6e6e !important;
  border-color: #6e6e6e !important;
  color: #ffffff !important;
  text-decoration: none;
}

.project-title {
  cursor: pointer;
  font-weight: 100;
}
.project-details {
  margin-left: 20px;
  padding: 10px;
  border-left: 2px solid #ccc;
}
.toggle-icon {
  margin-left: 10px;
}